{{#if hasHeader}}
  <div class="ember-tabella__header">
    <EmberTabella::HeaderRow 
     @columns={{this._columns}} 
     @height={{this.headerHeight}} 
     @width={{this.headerRowWith}} 
     @scrollLeft={{this.scrollLeft}} 
     @sortedColumn={{this.sortedColumn}} 
     @isSortReversed={{this.isSortReversed}} 
     @onColumnSort={{this.onColumnSort}} />
  </div>
{{/if}}

<EmberTabella::Body 
  @content={{this.content}} 
  @columns={{this._columns}} 
  @height={{this.bodyHeight}} 
  @width={{this.rowWidth}} 
  @rowWidth={{this.rowWidth}} 
  @rowHeight={{this.rowHeight}} 
  @scrollLeft={{this.scrollLeft}} 
  @scrollTop={{this.scrollTop}} 
  @onScroll={{action "updateScrollPosition"}} 
  @onColumnSort={{this.onColumnSort}} 
  @onCellClick={{this.onCellClick}} />
