{{page-title "Dummy"}}

<h2 id="title">Welcome to Ember</h2>

  <div class="row">
    <div class="col-md-12">
      <div class="example-container">
        <EmberTabella @numFixedColumns={{2}} @width={{500}} @height={{500}} @rowHeight={{50}} @content={{tableContent}} @columns={{tableColumns}} @hasFooter={{false}} @sortedColumn={{sortedColumn}} @isSortReversed={{_desc}} @onColumnSort={{action "sort"}} />
      </div>
    </div>

    <div class="col-md-12 bumper-30">
      <h3>Template</h3>
      <CodeSnippet @name="snippets/table-basic.hbs" />

    </div>

    <div class="col-md-12 bumper-30">
      <h3>Controller</h3>
      <CodeSnippet @name="controllers/application.js" />
    </div>
  </div>
</div>
