<div class="col-md-10 col-md-offset-2">
  <style>
    .ember-tabella__header-resize-handle {
      border-left: 3px dotted #ccc;
      background: #fff;
    }
    .ember-tabella__header {
      border-bottom: 1px solid #ccc;
    }
    .example-container {
      width:600px;
    }
  </style>
  <h1>Ember Tabella <small>Simple</small></h1>

  <div class="row">
    <div class="col-md-12">
      <div class="example-container">
        <EmberTabella @numFixedColumns={{2}} @width={{500}} @height={{500}} @rowHeight={{50}} @content={{tableContent}} @columns={{tableColumns}} @hasFooter={{false}} @sortedColumn={{sortedColumn}} @isSortReversed={{_desc}} @onColumnSort={{action "sort"}} />
      </div>
    </div>

    <div class="col-md-12 bumper-30">
      <h3>Template</h3>
      <CodeSnippet @name="snippets/table-basic.hbs" />

    </div>

    <div class="col-md-12 bumper-30">
      <h3>Controller</h3>
      <CodeSnippet @name="controllers/application.js" />
    </div>
  </div>
</div>
